* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: white;
  background-color:aliceblue;
}

/* =================
Layout
================= */

.cv {
  height: 850px;
  width: 800px;
  background-color: #4f4f4f;
  margin: 1rem auto;
}
.info-wrapper {
  margin-left: 2rem;
  margin-top: 2rem;
  padding: 0.5rem;
  position: relative;
  
}
.info-wrapper li { 
  list-style: none;
  display: flex;
  margin-right: 1rem;
   color: white;
}
.cv-photo {
 
  height: 220px;
  width: 200px;
  object-fit: cover;
  margin-left: 3rem;
}
.yellow {
  background-color: #ffae00;
  height: 720px;
  width: 245px;
  margin-left: 3.5rem;
  position: absolute;
}
.info-title {
  background-color: #4e4747;
  color: white;
  position: absolute;
  margin-left: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  
  padding: 10px;
}
.fa-phone {
  
  position: relative;
  color: black;
  display: flex;
  margin-right: 1rem;
  padding: 1rem;
}
.info{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 3rem;
}
.phone{
  margin-left: 1rem;
  font-size: 16px;
}
.fa-envelope{
  position: relative;
  color: black;
  display: flex;
  margin-right: 1rem;
  padding: 1rem;
  
}
.location{
  margin-left: 1rem;
  font-size: 9px;
}
.email{
  margin-left: 0.7rem;
  max-width:20px;
  font-size: 9px;
}

.fa-location-dot{
  position: relative;
  color: black;
  display: flex;
  margin-right: 1rem;
  padding: 1rem;
}
.right-column{
  
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  top: 6rem;
  right: 35rem;
}
.Education{
  margin-bottom: 2rem;
  border-bottom: #ffae00 1px solid;
}
.teaching{
  margin-bottom: 2rem;
  border-bottom: #ffae00 1px solid;
}
.languages{
  margin-bottom: 2rem;
  border-bottom: #ffae00 1px solid;
}
.Skills{
  margin-bottom: 2rem;
  border-bottom: #ffae00 1px solid;
}
/* =================
Navigation
================= */
.navbar{
  height: 70px;
  width: 100%;
  background-color: #ffae00;
  
}
.navbar_title {
 border: 1px red solids;

}


/* =================
Typography
================= */

.name{
  font-size: 3rem;
  background-color: #ffae00;
  font-weight: bold;
}  
